In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
july_df = pd.read_csv("nasa_data/sessionized_data/sessionize_date_aug.csv", header=0)
july_df.head()

G:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ipaddress,date,time,webpage,bytes_recv,datetime,unix_timestamp,session_id
0,***.novo.dk,09/Aug/1995,03:02:48,/shuttle/missions/sts-69/mission-sts-69.html,11264,1995-08-09 03:02:48,807937368,1.0
1,***.novo.dk,09/Aug/1995,03:03:52,/shuttle/countdown/,4673,1995-08-09 03:03:52,807937432,1.0
2,***.novo.dk,09/Aug/1995,03:05:38,/shuttle/countdown/liftoff.html,4665,1995-08-09 03:05:38,807937538,1.0
3,***.novo.dk,09/Aug/1995,03:07:40,/shuttle/countdown/lps/fr.html,1879,1995-08-09 03:07:40,807937660,1.0
4,001.msy4.communique.net,30/Aug/1995,02:55:47,/software/winvn/winvn.html,9630,1995-08-30 02:55:47,809751347,2.0

In [18]:
july_grouped_df = july_df.groupby("session_id")["webpage"].apply(lambda x: "{%s}" % ', '.join(x))
july_grouped_df.head()

session_id
1.0    {/shuttle/missions/sts-69/mission-sts-69.html,...
2.0                         {/software/winvn/winvn.html}
3.0                                {/shuttle/countdown/}
4.0    {/shuttle/countdown/countdown.html, /shuttle/c...
5.0                                  {/facts/faq04.html}
Name: webpage, dtype: object

In [19]:
july_grouped_df = july_grouped_df.reset_index()
july_grouped_df.head()

   session_id                                            webpage
0         1.0  {/shuttle/missions/sts-69/mission-sts-69.html,...
1         2.0                       {/software/winvn/winvn.html}
2         3.0                              {/shuttle/countdown/}
3         4.0  {/shuttle/countdown/countdown.html, /shuttle/c...
4         5.0                                {/facts/faq04.html}

In [20]:
july_grouped_df.to_csv("nasa_data/august_date_transactions.csv", index=False)