In [1]:
import pandas as pd
import datetime
import numpy as np

### Read July File

In [2]:
july_raw_df = pd.read_csv("processed_access_log_Jul95.csv", sep=',', names = ["ipaddress", "date", "time", "webpage","bytes_recv"])

/home/sai/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
july_raw_df.sort_values(by=['ipaddress','date'])

,ipaddress,date,time,webpage,bytes_recv,datetime,unix_timestamp,session_new,session_id
216151,***.novo.dk,11/Jul/1995,08:17:09,/ksc.html,7067,1995-07-11 08:17:09,805450629,NaN,1.0
216168,***.novo.dk,11/Jul/1995,08:17:48,/shuttle/missions/missions.html,8678,1995-07-11 08:17:48,805450668,0.650000,1.0
216229,***.novo.dk,11/Jul/1995,08:21:05,/shuttle/missions/sts-35/mission-sts-35.html,12118,1995-07-11 08:21:05,805450865,3.283333,1.0
216233,***.novo.dk,11/Jul/1995,08:21:19,/shuttle/missions/sts-35/mission-sts-35.html,12118,1995-07-11 08:21:19,805450879,0.233333,1.0
216261,***.novo.dk,11/Jul/1995,08:23:01,/shuttle/resources/orbiters/columbia.html,6922,1995-07-11 08:23:01,805450981,1.700000,1.0
133666,007.thegap.com,06/Jul/1995,17:22:35,/shuttle/countdown/,3998,1995-07-06 17:22:35,805051355,NaN,2.0
133715,007.thegap.com,06/Jul/1995,17:24:28,/shuttle/missions/sts-71/mission-sts-71.html,12722,1995-07-06 17:24:28,805051468,1.883333,2.0
133768,007.thegap.com,06/Jul/1995,17:26:24,/shuttle/missions/sts-71/sts-71-day-09-highlig...,6929,1995-07-06 17:26:24,805051584,1.933333,2.0
133834,007.thegap.com,06/Jul/1995,17:28:35,/shuttle/missions/sts-71/mission-sts-71.html,12722,1995-07-06 17:28:35,805051715,2.183333,2.0
134111,007.thegap.com,06/Jul/1995,17:37:44,/shuttle/missions/sts-71/images/images.html,7634,1995-07-06 17:37:44,805052264,9.150000,2.0
136566,007.thegap.com,06/Jul/1995,19:22:04,/shuttle/countdown/,3998,1995-07-06 19:22:04,805058524,104.333333,3.0
136595,007.thegap.com,06/Jul/1995,19:23:26,/shuttle/countdown/tour.html,4347,1995-07-06 19:23:26,805058606,1.366667,3.0
136656,007.thegap.com,06/Jul/1995,19:26:24,/facilities/mila.html,5462,1995-07-06 19:26:24,805058784,2.966667,3.0
136820,007.thegap.com,06/Jul/1995,19:34:36,/shuttle/technology/sts-newsref/sts-jsc.html,54093,1995-07-06 19:34:36,805059276,8.200000,3.0
188797,007.thegap.com,09/Jul/1995,20:59:58,/shuttle/,957,1995-07-09 20:59:58,805323598,NaN,4.0
188799,007.thegap.com,09/Jul/1995,21:00:10,/shuttle/missions/,12283,1995-07-09 21:00:10,805323610,0.200000,4.0
188808,007.thegap.com,09/Jul/1995,21:00:46,/shuttle/missions/sts-71/,4724,1995-07-09 21:00:46,805323646,0.600000,4.0
188810,007.thegap.com,09/Jul/1995,21:00:58,/shuttle/missions/sts-71/images/,16769,1995-07-09 21:00:58,805323658,0.200000,4.0
188818,007.thegap.com,09/Jul/1995,21:01:57,/,7067,1995-07-09 21:01:57,805323717,0.983333,4.0
451430,007.thegap.com,23/Jul/1995,16:40:47,/shuttle/countdown/,4324,1995-07-23 16:40:47,806517647,NaN,5.0
533286,01-dynamic-c.rotterdam.luna.net,28/Jul/1995,12:58:33,/facts/faq10.html,20903,1995-07-28 12:58:33,806936313,NaN,6.0
89864,01-dynamic-c.wokingham.luna.net,05/Jul/1995,07:36:59,/shuttle/missions/sts-71/movies/movies.html,3089,1995-07-05 07:36:59,804929819,NaN,7.0
193806,01-dynamic-c.wokingham.luna.net,10/Jul/1995,08:17:39,/,7067,1995-07-10 08:17:39,805364259,NaN,8.0
193822,01-dynamic-c.wokingham.luna.net,10/Jul/1995,08:18:27,/history/history.html,1602,1995-07-10 08:18:27,805364307,0.800000,8.0
193830,01-dynamic-c.wokingham.luna.net,10/Jul/1995,08:18:57,/shuttle/missions/missions.html,8678,1995-07-10 08:18:57,805364337,0.500000,8.0
236642,01-dynamic-c.wokingham.luna.net,12/Jul/1995,05:33:34,/shuttle/missions/sts-71/mission-sts-71.html,13374,1995-07-12 05:33:34,805527214,NaN,9.0
522114,01-dynamic-c.wokingham.luna.net,27/Jul/1995,17:02:24,/ksc.html,7280,1995-07-27 17:02:24,806864544,NaN,10.0
146520,02-dynamic-c.wokingham.luna.net,07/Jul/1995,07:57:57,/,7067,1995-07-07 07:57:57,805103877,NaN,11.0
146550,02-dynamic-c.wokingham.luna.net,07/Jul/1995,07:59:10,/shuttle/missions/sts-68/ksc-srl-image.html,1404,1995-07-07 07:59:10,805103950,1.216667,11.0
73793,03-dynamic-c.wokingham.luna.net,04/Jul/1995,12:33:06,/shuttle/missions/sts-70/mission-sts-70.html,13469,1995-07-04 12:33:06,804861186,NaN,12.0
...,...,...,...,...,...,...,...,...,...
76837,zzmsowte.slip.cc.uq.oz.au,04/Jul/1995,15:29:34,/shuttle/missions/sts-71/sts-71-day-08-highlig...,3054,1995-07-04 15:29:34,804871774,2.483333,148529.0
175649,zzmsowte.slip.cc.uq.oz.au,08/Jul/1995,16:56:01,/shuttle/resources/orbiters/atlantis.html,7025,1995-07-08 16:56:01,805222561,NaN,148530.0
175666,zzmsowte.slip.cc.uq.oz.au,08/Jul/1995,16:57:54,/shuttle/resources/orbiters/orbiters.html,2178,1995-07-08 16:57:54,805222674,1.883333,148530.0
175674,zzmsowte.slip.cc.uq.oz.au,08/Jul/1995,16:59:02,/ksc.html,7067,1995-07-08 16:59:02,805222742,1.133333,148530.0
175685,zzmsowte.slip.cc.uq.oz.au,08/Jul/1995,16:59:38,/whats-new.html,17314,1995-07-08 16:59:38,805222778,0.600000,148530.0
175693,zzmsowte.slip.cc.uq.oz.au,08/Jul/1995,17:00:30,/shuttle/missions/sts-71/mission-sts-71.html,13328,1995-07-08 17:00:30,805222830,0.866667,148530.0
175697,zzmsowte.slip.cc.uq.oz.au,08/Jul/1995,17:01:14,/shuttle/missions/sts-71/sts-71-day-09-highlig...,6949,1995-07-08 17:01:14,805222874,0.733333,148530.0
175709,zzmsowte.slip.cc.uq.oz.au,08/Jul/1995,17:02:00,/shuttle/missions/sts-71/sts-71-day-10-highlig...,6743,1995-07-08 17:02:00,805222920,0.766667,148530.0
175724,zzmsowte.slip.cc.uq.oz.au,08/Jul/1995,17:03:03,/shuttle/missions/sts-71/sts-71-day-11-highlig...,6540,1995-07-08 17:03:03,805222983,1.050000,148530.0
395878,zzopcom.slip.cc.uq.oz.au,19/Jul/1995,19:18:39,/images/,17688,1995-07-19 19:18:39,806181519,NaN,148531.0
317726,zzrdelaf.slip.cc.uq.oz.au,15/Jul/1995,12:12:50,/,7071,1995-07-15 12:12:50,805810370,NaN,148532.0
318004,zzrdelaf.slip.cc.uq.oz.au,15/Jul/1995,12:37:33,/shuttle/missions/missions.html,8678,1995-07-15 12:37:33,805811853,24.716667,148532.0
318256,zzrdelaf.slip.cc.uq.oz.au,15/Jul/1995,13:02:35,/shuttle/missions/61-b/mission-61-b.html,6572,1995-07-15 13:02:35,805813355,25.033333,148532.0
318371,zzrdelaf.slip.cc.uq.oz.au,15/Jul/1995,13:12:00,/shuttle/resources/orbiters/atlantis.html,7025,1995-07-15 13:12:00,805813920,9.416667,148532.0
318522,zzrdelaf.slip.cc.uq.oz.au,15/Jul/1995,13:21:48,/shuttle/resources/orbiters/orbiters.html,2178,1995-07-15 13:21:48,805814508,9.800000,148532.0
318625,zzrdelaf.slip.cc.uq.oz.au,15/Jul/1995,13:31:17,/shuttle/resources/orbiters/challenger.html,8089,1995-07-15 13:31:17,805815077,9.483333,148532.0
318802,zzrdelaf.slip.cc.uq.oz.au,15/Jul/1995,13:48:16,/shuttle/missions/51-l/mission-51-l.html,6756,1995-07-15 13:48:16,805816096,16.983333,148532.0
1220,zzsbtafe.slip.cc.uq.oz.au,01/Jul/1995,01:12:54,/,7074,1995-07-01 01:12:54,804561174,NaN,148533.0
1226,zzsbtafe.slip.cc.uq.oz.au,01/Jul/1995,01:13:28,/shuttle/missions/sts-71/mission-sts-71.html,12040,1995-07-01 01:13:28,804561208,0.566667,148533.0
1232,zzsbtafe.slip.cc.uq.oz.au,01/Jul/1995,01:13:45,/shuttle/countdown/,3985,1995-07-01 01:13:45,804561225,0.283333,148533.0
1243,zzsbtafe.slip.cc.uq.oz.au,01/Jul/1995,01:14:38,/shuttle/missions/sts-71/mission-sts-71.html,12040,1995-07-01 01:14:38,804561278,0.883333,148533.0
413518,zzsmiege.slip.cc.uq.oz.au,20/Jul/1995,17:51:01,/shuttle/technology/sts-newsref/stsover-launch...,65536,1995-07-20 17:51:01,806262661,NaN,148534.0
439770,zzsmiffs.slip.cc.uq.oz.au,22/Jul/1995,14:05:08,/images/,17688,1995-07-22 14:05:08,806421908,NaN,148535.0
24742,zzyzx.demon.co.uk,02/Jul/1995,10:36:40,/shuttle/countdown/,3985,1995-07-02 10:36:40,804681400,NaN,148536.0
261326,zzz.pe.u-tokyo.ac.jp,13/Jul/1995,05:51:09,/shuttle/missions/missions.html,8678,1995-07-13 05:51:09,805614669,NaN,148537.0
262225,zzz.pe.u-tokyo.ac.jp,13/Jul/1995,07:03:16,/shuttle/countdown/liftoff.html,2602,1995-07-13 07:03:16,805618996,72.116667,148538.0
262238,zzz.pe.u-tokyo.ac.jp,13/Jul/1995,07:04:06,/shuttle/technology/sts-newsref/sts-lcc.html,32252,1995-07-13 07:04:06,805619046,0.833333,148538.0
262246,zzz.pe.u-tokyo.ac.jp,13/Jul/1995,07:04:40,/shuttle/missions/sts-70/movies/movies.html,1395,1995-07-13 07:04:40,805619080,0.566667,148538.0
262382,zzz.pe.u-tokyo.ac.jp,13/Jul/1995,07:14:51,/shuttle/missions/sts-70/images/images.html,4048,1995-07-13 07:14:51,805619691,10.183333,148538.0
262450,zzz.pe.u-tokyo.ac.jp,13/Jul/1995,07:17:46,/shuttle/resources/orbiters/discovery.html,6861,1995-07-13 07:17:46,805619866,2.916667,148538.0

### Append datetime

In [4]:
july_raw_df['datetime'] = july_raw_df['date'].map(str) +":" + july_raw_df['time']
july_raw_df['datetime'] = pd.to_datetime(july_raw_df['datetime'], format='%d/%b/%Y:%H:%M:%S', errors="coerce")

In [5]:
# convert to unix timestamp
july_raw_df['unix_timestamp'] = july_raw_df.datetime.values.astype(np.int64) // 10 ** 9

### Group by ipaddress and date

### 1.A. Same date == same session, else new session

In [40]:
july_raw_df = july_raw_df.sort_values(by=['ipaddress','date'])

In [15]:
# based on date alone
g = july_raw_df.groupby(['ipaddress', 'date'])
july_raw_df['session_new'] = g['date'].apply(lambda s: s != s.shift(1))

In [50]:
# insert session id -- slow way
session_id = 0
for index, row in july_raw_df.iterrows():
    if row['session_new']:
        session_id+=1
    july_raw_df.loc[index, 'session_id'] = int(session_id)

In [18]:
# write to csv
july_raw_df.to_csv("sessionize_date.csv",index=False)

### 1.B. Difference between two timestamp <=30 min == same session, else new session

In [53]:
july_raw_df.drop('session_new', axis=1, inplace=True)

In [46]:
# based on difference between timestamp
g = july_raw_df.groupby(['ipaddress', 'date'])
july_raw_df['session_new'] = g['unix_timestamp'].apply(lambda s: (abs(s.shift(1) - s) / 60))

In [51]:
# insert session id -- slow way
session_id = 0
for index, row in july_raw_df.iterrows():
    if pd.isna(row['session_new']) or row['session_new'] > 30:
        session_id+=1
    july_raw_df.loc[index, 'session_id'] = int(session_id)

In [54]:
# write to csv
july_raw_df.to_csv("sessionize_time.csv",index=False)